<!doctype html>
<html>
  <head>
    <title>About <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=forumName%></h1>
    <p>Communication is the purest form of transaction. Talk is capital, ideas are life. Invest now in your social identity and reap your rewards in heaven.</p>
  </body>
</html>