<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%>: Add post</h1>
    <form method="POST" action="/postadded">
        <label for="header">Flashy Title:</label>
        <input id="header" type="text" name="header" placeholder="post title" required/>
        </br>
        <label for="body">Say what you need:</label>
        <input id="body" type="text" name="body" placeholder="bare your mind to the world" required/>
        </br>
        <label for="topicOptions">Select a topic:</label>
        <select id="topicOptions" name="topicOptions">
            <% topics.forEach(topics => { %>
                <option value="<%=topics.title%>"><%=topics.title%></option>
            <% }) %>
        </select>
        <input type="submit" value="OK" />
    </form>
  </body>
</html>