<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <description>
    <h1><%=forumName%>: Add post</h1>
    <form method="POST" action="/topicadded">
        <label for="title">Flashy Title:</label>
        <input id="title" type="text" name="title" placeholder="topic title" />
        </br>
        <label for="description">Say what you need:</label>
        <input id="description" type="text" name="description" placeholder="what does this mean to you?" />
        <input type="submit" value="OK" />
    </form>
  </description>
</html>