<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to The Cruelty Forums</h1>
    <h2><a href="logout">Logout of <%=forumName%></a></h2>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="topics">List topics</a></p>
    <p><a href="posts">List posts</a></p>
    <p><a href="users">List users</a></p>
    <p><a href="search">Search for posts</a></p>
    <p><a href="addposts">Add a post</a></p>
    <p><a href="register">Register with us</a></p>
  </body>
</html>
