<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <h1>Here are our books!</h1>
    <ul>
        <% for(i=0;i<availableBooks.length;i++){ %>
            <li><%=availableBooks[i].name%>, £<%=availableBooks[i].price%></li>
        <% } %>
    </ul>
  </body>
</html>