<!doctype html>
<html>
  <head>
    <title>Primordial Discussions</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>User <%= user %></h1>
    <h2>Here are their topics:</h2>
    <ul>
        <% for(i=0; i<topics.length; i++){ %>
            <li><a href="/topic/<%= topics[i].title %>"><%= topics[i].title %></a></li>
        <% } %>
    </ul>
  </body>
</html>