<!doctype html>
<html>
  <head>
    <title>Primordial Discussions</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Topics:</h1>
    <ul>
        <% for(i=0; i<topics.length; i++){ %>
            <h2><a href="/topic/<%= topics[i].title %>"><%= topics[i].title %></a></h2>
            <p><%=topics[i].description%></p>
        <% } %>
    </ul>
  </body>
</html>